-- Set recovery model
USE master;
GO

-- back up the database
BACKUP DATABASE HumanResources
TO  DISK = 'C:\Backups\HumanResources.bak'
WITH FORMAT, INIT,  MEDIANAME = 'HumanResources Backup',  NAME = 'HumanResources-Full Database Backup', COMPRESSION;
GO

-- Modify the data
UPDATE HumanResources.dbo.Employee
SET PhoneNumber = '151-555-1234'
WHERE BusinessEntityID = 259;

-- Back up the database again
BACKUP DATABASE HumanResources
TO  DISK = 'C:\Backups\HumanResources.bak'
WITH NOFORMAT, NOINIT,  NAME = 'HumanResources-Full Database Backup 2', COMPRESSION;
GO


